.card__body{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    border: solid 1px #000000;
}

.card__kantry, .card__kollection, .card__name, .card__size{
    margin: 5px 0 2px;
}

.card__img{
    width: 100%;
    height: 100px;
}

.card__kollection{
    font-size: larger;
}

.card__name{
    font-size: medium;
}

.card__kantry{
    font-size: medium;
}

.card__size{
    font-size: small;
}