.menu__link{
    color: rgb(212, 181, 3);
    margin-left: 1em;
    text-decoration: none;
    
}

.menu__link_active{
    color: rgb(255, 255, 255);
}

.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    border: auto 20px;
    width: 50em;
}